Open tasks:

- [ ] Append [Originstamp certificate]({{ link_to_originstamp_certificate }}) to [release {{ github_release_tag }}]({{ link_to_release_page }}).
      It should be named `attest-originstamp-bitcoin.pdf`.
